<!DOCTYPE html>
<html ng-app="exampleApp">
	<head lang="es">
		<meta charset="UTF-8">
		<title>Training AngularJS 2</title>
		<link rel="stylesheet" href="node_modules/bootstrap-css-only/css/bootstrap.css">
		<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="public/css/main.css">

		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-animate/angular-animate.js"></script>
		<script src="node_modules/angular-ui-validate/dist/validate.js"></script>
		<script src="node_modules/angular-bootstrap-npm/dist/angular-bootstrap.js"></script>
		<script src="node_modules/angular-bootstrap-npm/dist/angular-bootstrap-tpls.js"></script>

		<script src="public/js/app.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<!-- One way binding -->
					<h1>Training AngularJS 2</h1>
					<!-- ng-cloak: usarlo antes de ng-if para evitar flashing al cargar -->
					<!-- Expresiones: No insertar for o if dentro de expresiones -->
					<!-- Expresiones: No RegExp -->
					<section ng-controller="myController as mctrl">
						<div class="row">
							<div class="col-sm-12">
								<h4 class="push-bottom">Working with directives | ng-click example</h4>
							</div>
							<div class="col-md-6">
								<ul class="list-inline">
									<li ng-repeat="number in mctrl.numberArray">
										<button class="btn btn-primary" type="button" name="button" ng-click="mctrl.doSomething(number);mctrl.numero=number">Number {{number}}</button>
									</li>
								</ul>
							</div>
							<div class="col-md-6">
								<pre class="text-center" ng-if="mctrl.numero">{{mctrl.numero}}</pre>
							</div>
						</div>
					</section>
					<hr>
					<!-- revisar JavaScript $$hashKey -->
					<section ng-controller="dynamicTable as dctrl">
						<div class="row">
							<div class="col-sm-12">
								<h4 class="push-bottom">Working with directives | Dynamic table | ng-repeat example</h4>
								<table class="table">
									<thead>
										<tr>
											<th ng-repeat="(key,value) in dctrl.array[0]">
												<span ng-bind="key"></span>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in dctrl.array | filter: dctrl.search">
											<td ng-repeat="(key,value) in item">
												<span ng-bind="value"></span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="First Name" ng-model="dctrl.newItem.firstName">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Last Name" ng-model="dctrl.newItem.lastName">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<button class="btn btn-primary" type="button" name="button" ng-click="dctrl.add(newItem)">Push in table</button>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><i class="fa fa-search"></i></div>
										<input placeholder="Search" type="search" class="form-control" ng-model="dctrl.search">
									</div>
								</div>
							</div>
						</div>
					</section>
					<hr>
					<section ng-controller="agenda as actrl">
						<div class="row">
							<div class="col-xs-12">
								<h4 class="push-bottom">Working with directives | Phone Book Entry | ng-repeat example</h4>
								<div ng-repeat="entrada in actrl.entradasAgenda | filter: actrl.search">
									<pre ng-bind-template="{{entrada.firstName}} {{entrada.lastName}} | {{entrada.phoneNumber}}" >
									</pre>
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><i class="fa fa-search"></i></div>
										<input placeholder="Search" type="search" class="form-control" ng-model="actrl.search">
									</div>
								</div>
							</div>
						</div>
					</section>
					<hr>
				</div>
			</div>
		</div>
	</body>
</html>
