@font-face {
    font-family: 'alarm_clockregular';
    src: url('../fonts/alarm_clock-webfont.eot');
    src: url('../fonts/alarm_clock-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alarm_clock-webfont.woff2') format('woff2'),
         url('../fonts/alarm_clock-webfont.woff') format('woff'),
         url('../fonts/alarm_clock-webfont.ttf') format('truetype'),
         url('../fonts/alarm_clock-webfont.svg#alarm_clockregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {border-radius:0 !important;}

hr {border: 1px dashed rgba(63, 123, 123, 0.18); }

.push-top {margin-top: 20px;}
.push-bottom {margin-bottom: 20px;}

.clockwork {font-family: 'alarm_clockregular'; color: #2CDA64;}
body,small {
  color: #999;
  background-color: hsl(270, 40%, 18%);
}
.form-control {
  background-color: transparent !important;
  border: 1px solid rgba(63, 123, 123, 0.18);
  color: #999;
  font-weight: 200;
}

.form-control:focus {box-shadow: none !important;}

[class*="-primary"],pre {
    color: #3F7B7B;
    background-color: rgba(63, 123, 123, 0.18);
    border-color: #3F7B7B;
}

::-webkit-input-placeholder {
  color: #3F7B7B !important;
}

:-moz-placeholder {
  color: #3F7B7B !important;
}

::-moz-placeholder {
  color: #3F7B7B !important;
}

:-ms-input-placeholder  {
  color: #3F7B7B !important;
}

table,
.table > tbody > tr > td,
.table > thead > tr > th,
.input-group-addon,
.form-control {
  background-color: transparent !important;
  outline: none;
  border:none;
  border-bottom: 1px solid rgba(63, 123, 123, 0.18);
}

.input-group-addon { color:rgba(63, 123, 123, 0.18); }

.form-control {
  border-radius:0 !important;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s all linear;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

/* there is no need to define anything inside of the destination
CSS class since the keyframe will take charge of the animation */
.fade.ng-leave,
.fade.ng-leave-active {
  animation: 4.5s all linear;
  -webkit-animation: 4.5s all linear;
}
